@tailwind base;
@tailwind components;
@tailwind utilities;

#canvas-container {
  height: 100%;
  width: 100%;
  background-image: url(/sena\ inomata\ Portfolio.jpg);
  background-size: cover;
  background-position: center;
}
